In [1]:
from platform import python_version 
python_version()

'3.7.12'

In [6]:
import matplotlib.pyplot as plt
import netCDF4 as nc
from netCDF4 import Dataset
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr
import cartopy.crs as ccrs

In [7]:
dataset = '/Users/chiaraciscato/Desktop/geomar/FOCI data/CO2flux_baseline_ensemble1_ssp126_1m.nc'
data = xr.open_dataset(dataset)

In [8]:
for var in ds.variables.values(): # print all variables 
    print(var)

<xarray.Variable (y: 511, x: 722)>
[368942 values with dtype=float32]
Attributes:
    standard_name:  latitude
    long_name:      Latitude
    units:          degrees_north
<xarray.Variable (y: 511, x: 722)>
[368942 values with dtype=float32]
Attributes:
    standard_name:  longitude
    long_name:      Longitude
    units:          degrees_east
<xarray.Variable (time_counter: 1020)>
array(['2015-01-16T12:00:00.000000000', '2015-02-15T00:00:00.000000000',
       '2015-03-16T12:00:00.000000000', ..., '2099-10-16T12:00:00.000000000',
       '2099-11-16T00:00:00.000000000', '2099-12-16T12:00:00.000000000'],
      dtype='datetime64[ns]')
Attributes:
    standard_name:  time
    long_name:      Time axis
    time_origin:    2015-01-01 00:00:00
    bounds:         time_centered_bounds
<xarray.Variable (time_counter: 1020, axis_nbounds: 2)>
array([['2015-01-01T00:00:00.000000000', '2015-02-01T00:00:00.000000000'],
       ['2015-02-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000'],
       ['2015-03-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000'],
       ...,
       ['2099-10-01T00:00:00.000000000', '2099-11-01T00:00:00.000000000'],
       ['2099-11-01T00:00:00.000000000', '2099-12-01T00:00:00.000000000'],
       ['2099-12-01T00:00:00.000000000', '2100-01-01T00:00:00.000000000']],
      dtype='datetime64[ns]')
<xarray.IndexVariable 'time_counter' (time_counter: 1020)>
array(['2015-01-16T12:00:00.000000000', '2015-02-15T00:00:00.000000000',
       '2015-03-16T12:00:00.000000000', ..., '2099-10-16T12:00:00.000000000',
       '2099-11-16T00:00:00.000000000', '2099-12-16T12:00:00.000000000'],
      dtype='datetime64[ns]')
Attributes:
    axis:           T
    standard_name:  time
    long_name:      Time axis
    time_origin:    2015-01-01 00:00:00
    bounds:         time_counter_bounds
<xarray.Variable (time_counter: 1020, axis_nbounds: 2)>
array([['2015-01-01T00:00:00.000000000', '2015-02-01T00:00:00.000000000'],
       ['2015-02-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000'],
       ['2015-03-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000'],
       ...,
       ['2099-10-01T00:00:00.000000000', '2099-11-01T00:00:00.000000000'],
       ['2099-11-01T00:00:00.000000000', '2099-12-01T00:00:00.000000000'],
       ['2099-12-01T00:00:00.000000000', '2100-01-01T00:00:00.000000000']],
      dtype='datetime64[ns]')
<xarray.Variable (time_counter: 1020, y: 511, x: 722)>
[376320840 values with dtype=float64]
Attributes:
    long_name:           co2 flux calc in ECHAM
    units:               kg/m2/sec
    online_operation:    average
    interval_operation:  2160 s
    interval_write:      1 month
    cell_methods:        time: mean (interval: 2160 s)

In [ ]:
ds.variables.values() # print all variables

In [ ]:
print(ds.variables.keys())

In [ ]:
ds.variables['time_counter'] # print single variable

In [ ]:
ds.nav_lat # inspect variable

In [ ]:
ds['nav_lon'].min()

# or - ds.nav_lon.min() -

In [ ]:
ds_date = data.sel(time_counter='2015-01-16') # select one timestep

In [ ]:
ds['nav_lon'] = ds['nav_lon'].values.flatten()
ds['nav_lat'] = ds['nav_lat'].values.flatten()

ds['nav_lon'] = ds['nav_lon'].round(decimals = 0)
ds['nav_lat'] = ds['nav_lat'].round(decimals = 0)

In [ ]:
df = data.to_dataframe() # turn into Pandas dataframe

In [ ]:
df.head() # first lines of the dataframe

In [ ]:
df.describe() # describe the data

In [ ]:
df.tail() # tail of the dataframe

In [ ]:
df.index

In [ ]:
# calculate the month length 

month_length = data.time_counter.dt.days_in_month 
month_length 

# calculate the weights by grouping by season

weights = (
    month_length.groupby("time_counter.season") / month_length.groupby("time_counter.season").sum()
)
weights

# test that the sum of the weights for each season is 1.0

np.testing.assert_allclose(weights.groupby('time_counter.season').sum().values, np.ones(4))

In [ ]:
df.to_dataset() # turn into array